*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
:root{
    --white-color:#fff;
    --red-color:#DA0A0A;
}

header{
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  z-index: 20; 
}

.container{
    max-width: 1240px;
    width: 100%; 
    margin: 0 auto;
    padding: 0 20px; 
}

.header{
 display: flex; 
 align-items: center;
 justify-content: space-between; 
 padding: 15px 0;
 height: 80px;
}

.header nav{
    display: flex; 
    gap: 42px;
    list-style: none;
    align-items: center;
}

.header a{ 
    text-decoration: none;
    color: var(--white-color);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;   
}
 
.header .btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .btn{ 
    font-weight: 400;
    font-size: 18px; 
    line-height: 100%; 
    color: var(--white-color);  
    padding: 12px 40px;
    border-radius: 32px;
    border: 2px solid var(--white-color);
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;
}

.header .menuBurgers{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
}
 
#hero {
  padding-top: 80px;  
  background-image: url("./image/hero.png");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;  
}

.bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(112.36deg, rgba(0, 0, 0, 0.5) 1.18%, rgba(52, 50, 50, 0.5) 98.72%);
  top: 0;
  left: 0;
}

.hero{
    display: flex;
    flex-direction: column; 
    align-items: center;
    color: var(--white-color); 
    text-align: center;
    position: relative;
    z-index: 2;
    padding-top: 50px; 
}

.hero h1{
  padding: 32px 0; 
  font-weight: 500; 
  font-size: 68px; 
  line-height: 100%;  
  text-align: center;
}

.hero h4{ 
  font-weight: 400; 
  font-size: 24px; 
  line-height: 100%;  
  text-align: center; 
  margin-top: 187px;  
}

.hero p{ 
    max-width: 491px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 247px;
}

/* hero2 */
.hero2{
   display: flex; 
   padding-top: 100px;
   align-items: flex-start; /* ← САМОЕ ВАЖНОЕ ИЗМЕНЕНИЕ */
   gap: 40px;
}
.images-container {
    display: flex;
    align-items: flex-start;
    
}

.images{
    display: flex;
    align-items: flex-start; /* ← И ЭТО ТОЖЕ */
    gap: 40px;
}

.hero2-text h1{
  padding: 30px 0 22px; 
  font-family: Montserrat;
  font-weight: 400;
  font-size: 54px; 
  line-height: 100%;
  color: #000000;
}

.hero2-text h4{
  padding-bottom: 22px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px; 
  line-height: 40px;
  color: #000000;
}

.hero2-text p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 22px; 
    line-height: 40px;
    color: #00000080;
}

/* hero3 */
.hero3 h1{
    display: flex;
    justify-content: center;
    padding: 100px 0 66px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 42px; 
    line-height: 100%;
}

.service-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F3EFEF;
    color: var(--red-color);
    padding: 18px 40px 18px 25px; 
    margin-bottom: 40px;
}

/* hero4 */
.hero4 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 42px; 
  line-height: 130%;
  padding: 100px 0 50px;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

.block1{
    width: 380px;
    height: 400px;
    border: 2px solid #282828;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(/image/hero4-blocks.png) no-repeat center center/cover;
    padding: 20px;
    position: relative;
}

.block1-text {
    color: var(--white-color);
    z-index: 2;
}

.block1-text h2{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px; 
  line-height: 100%;
}

.block1-text p{
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px; 
  line-height: 100%;
  padding-bottom: 10px;
}

.block1 button{
    padding: 8px 16px;
    border: 1px solid var(--white-color);
    border-radius: 6px;
    background: transparent;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.hero4 .btn{
    display: flex;
    justify-content: center;  
    align-items: center;
    margin: 40px 0 100px;
    width: 100%;
}

.hero4 .btn button{
  padding: 12px 32px;
  border: 2px solid #000;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
}

/* footer */
footer{
    background: #111111;
    color: #FFFFFF;
}

.footer h1 {
  display: flex;    
  justify-content: center;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px; 
  line-height: 130%;
  padding-top: 80px;
}

.footer-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0 150px;
    flex-wrap: wrap;
}

.footer h4{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px; 
  line-height: 130%;
  padding-bottom: 20px;
}

.footer p{
  font-family: Montserrat;
  font-weight: 400;
  font-size: 20px; 
  line-height: 130%;
}

/* ADAPTIVE */
 @media(max-width:1024px){
 .hero2{
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 .images{
    display: flex;
    justify-content: center;
 }
 .hero2-text h4{
  padding-bottom: 14px;
}
 }
  @media(max-width:880px){
    .header nav{
        display: none;
    }
    
 }

  @media(max-width:768px){
    .hero h1{
        padding: 26px 0;
        font-weight: 500;
        font-size: 58px;
    } 
    
 }
   @media(max-width:656px){
      .hero h1{
        padding: 23px 0; 
        font-size: 55px;
    } 
    .hero p{
        font-size: 18px;
    }
        .hero h4 {
        margin-top: 204px;
    }
    
     .hero2 img {
        max-width: 50%;
        height: auto;
    }
       .hero2-text h4 {
        padding: 7px 0;
        font-size: 22px;
    }
    .hero2-text h1 {
        font-size: 48px;
    }

 }
  @media(max-width:627px){
    .header .btn{
        display: none;
    }
        .hero h1 {
        padding: 21px 0;
        font-size: 41px;
    }
    
 }
  @media(max-width:520px){
        .footer h1 {
        font-size: 19px;
    }
 .footer-text{
        padding: 48px 0 150px
 }
     .footer-text h4 {
        font-size: 19px;
    }
    .footer-text p {
        font-size: 15px;
    }
  .hero2-text h4 {
        padding-bottom: 7px;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }
    .hero2-text h1 {
        font-size: 39px;
    }
        .hero2-text p {
        font-size: 22px;
        line-height: 32px;
    }
  
}

  @media(max-width:390px){
       .hero h4 {
        font-size: 20px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero h1 {
        font-size: 24px;
    }
     .hero2 img {
        max-width: 54%;
        height: auto;
    }
        .hero2-text h4 {
        padding-bottom: 7px;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
       .hero2-text h1 {
        font-size: 34px;
    }
      
    .hero2-text p {
        font-size: 16px;
        line-height: 27px;
    }
        .footer h1 {
        font-size: 19px;
    }
 .footer-text{
        padding: 48px 0 150px
 }
     .footer-text h4 {
        font-size: 19px;
    }
    .footer-text p {
        font-size: 15px;
    }
       .hero3 h1 {
        padding: 68px 0 56px;
        font-size: 35px; 
    }
       
     .footer-text {
        padding: 39px 0 93px;
    }
         .footer-text h4 {
        font-size: 16px;
    }
        .footer-text p {
        font-size: 13px;
    }
 }


/* ADAPTIVE */